@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400&family=Ubuntu:wght@300;400;500;700&display=swap');

.language-switch button:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

.language-switch {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
}

.language-switch button {
    background-color: #ebba18;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.hex_row_even,
.hex_row_odd {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.center {
    margin: 20px 10px;
    width: 220px;
}

.hexagon {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    cursor: pointer;
    height: 440px;
    overflow: hidden;
    visibility: hidden;
    width: 220px;
}

.hexagon:hover .desc {
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.85);
    transform: scale(1.05);
    transition: visibility 0s, opacity 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.hex1,
.hex2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.hex2 {
    position: relative;
    visibility: visible;
}

.hex2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: sepia(30%) blur(0.5px);
    z-index: -1;
}

h1 {
    display: none;
}

.desc {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    height: 440px;
    line-height: 1.5em;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    visibility: hidden;
    width: 220px;
    transform: scale(1);
    transition: visibility 0s 0.2s, opacity 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.desc h2 {
    margin: 165px 20px 0 20px;
    font-size: 26px;
    font-weight: 800;
}



        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            opacity: 0;
            animation: fadeIn 1s ease-out forwards;
            animation-delay: 0.5s;
            padding: 20px;
            padding-top: 70px;
            box-sizing: border-box;
            height: auto;
        }
    
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 10px;
            width: 100%;
        }
    
        .tile {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 300px;
            margin: 10px;
            top: -15px;
            color: white;
            text-decoration: none;
            border-radius: 25px;
            overflow: hidden;
            transition: transform 0.3s, box-shadow 0.3s;
            border: 0.1rem solid #555;
            opacity: 0;
            animation: fadeIn 0.5s ease-out forwards;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        }
    
        .tile:nth-child(1) {
            animation-delay: 0.5s;
        }
    
        .tile:nth-child(2) {
            animation-delay: 0.6s;
        }
    
        .tile:nth-child(3) {
            animation-delay: 0.7s;
        }
    
        .tile:nth-child(4) {
            animation-delay: 0.8s;
        }
    
        .tile img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: opacity 0.3s;
        }
    
        .tile .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
            transition: opacity 0.3s;
        }
    
        .tile .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            font-weight: bold;
            opacity: 0;
            transition: opacity 0.3s;
            width: 100%;
            display: grid;
            place-content: center;
        }
    
        .tile:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
        }
    
        .tile:hover .overlay {
            opacity: 0.9;
        }
    
        .tile:hover .title {
            opacity: 1;
        }
    
        .tile-icon {
            position: absolute;
            top: 6px;
            right: 6px;
            font-size: 20px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.85);
            padding: 5px;
            border-radius: 10px;
            transition: transform 0.3s ease-in-out;
        }
       
        .tile:hover .more-info {
            opacity: 1;
        }
    
        .tile-icon:hover {
            transform: scale(1.2) rotate(45deg);
        }
    
        .tile .additional-info {
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px;
            text-align: center;
            transition: transform 0.3s;
            transform: translateY(100%);
        }
    
        .tile:hover .additional-info {
            display: block;
            transform: translateY(0);
        }
    
        .tile:hover::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
        }
    
        .tile .title {
            font-size: 20px;
        }
    
        .tile .overlay {
            font-size: 16px;
        }
    
        
