@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-x: hidden;
}

.bold {
    font-weight: 700;
}

.language-switch button:hover {
    background-color: hsla(0, 0%, 100%, 0.92);
    color: #333;
}

.language-switch button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #333;
    transition: all 0.3s ease;
    opacity: 0;
}

.language-switch button:hover::before {
    opacity: 1;
    transform: scale(1.1);
}

.language-switch {
    display: flex;
    position: absolute;
    top: 1.5rem;
    right: 0.5rem;
    flex-direction: row;
    z-index: 1000;
}

.language-switch button {
    background-color: hsla(0, 0%, 7%, 0.85);
    color: #fff;
    border: none;
    padding: 12px 12px;
    margin: 0 5px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: normal;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    order: 2;
}

.btn {
    border: 1px solid #fff;
    border-radius: 0.25rem;
    color: #f5faf7;
    text-transform: uppercase;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: inline-block;
    cursor: pointer;
    background: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
}

.btn:hover {
    background-color: hsla(0, 0%, 100%, 0.92);
    color: #232323;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

.header__top--responsive ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.language-switch button {
    animation: slideInRight 1s ease-out forwards;
}

.header__top-brand {
    animation: slideInRight 1.5s ease-out forwards;
}

.menu_hamburger ul {
    animation: slideInLeft 1.5s ease-out forwards;
}

@keyframes slideInUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.menu_hamburger {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 2.5rem;
    flex-direction: column;
    z-index: 1000;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo img {
    display: flex;
    margin-inline: auto;
    margin-top: 1rem;
}

.menu-responsive hr {
    color: #fff;
    width: 75%;
}

.menu-responsive {
    background-image: linear-gradient(to right, rgba(18, 18, 19) 60%, hsla(0, 3%, 13%) 140%);
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    transform: translateX(-100%);
    visibility: hidden;
    z-index: 10000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.menu-responsive.show {
    display: block;
    visibility: visible;
    animation: slideIn 0.3s forwards;
    border-right: 2px solid #fff;
}

.menu-responsive.hide {
    animation: slideOut 0.3s forwards;
    animation-fill-mode: forwards;
    visibility: hidden;
}

.header__top--responsive ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__top--responsive ul li .menu-bars {
    font-size: 2.4rem;
    color: #fff;
    transition: all 0.3s;
    margin-right: 3rem;
}

.header__top--responsive ul li .menu-bars:hover {
    color: #101010;
}

.menu-responsive ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.menu-responsive ul li {
    padding: 2rem 0;
}

.menu-responsive ul li a {
    font-size: 1.25rem;
    color: #fff;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-decoration: none;
}

.menu-responsive ul li a:hover {
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.8rem 1.3rem;
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

header {
    background-image: url(../imghoney/bglink.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    background-attachment: fixed;
}

.header__top {
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.header__top-brand .bold {
    text-transform: uppercase;
}

.header__top-brand h1 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.header__content {
    animation: slideInUp 1.5s ease-out forwards;
    background: linear-gradient(to bottom, hsla(0, 0%, 10%, 0.94), hsla(0, 0%, 4%, 0.94));
    width: 80%;
    margin: 0 auto;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 7px;
    padding: 20px;
}

.header__content p {
    line-height: 1.75;
    margin: 0.5rem 0;
}

.header__content .btn {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.header__arrow {
    margin-top: 3rem;
}

.header__arrow a {
    color: #fff;
    font-size: 1.5rem;
}

.header__arrow a i {
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    75% {
        transform: translateY(-15px);
    }
}

@media (min-width: 47.9em) {
    .header__top {
        padding-top: 3.5rem;
        margin-bottom: 3rem;
    }

    .header__content {
        font-size: 2rem;
    }

    .header__content .btn {
        padding: 0.6rem 1.7rem;
    }

    .header__arrow {
        margin-top: 5rem;
    }
}

@media (min-width: 61.9em) {
    .header__top {
        margin-bottom: 5rem;
    }

    .header__content {
        font-size: 2.5rem;
    }

    .header__arrow {
        margin-top: 6rem;
    }
}

@media (min-width: 74.9em) {
    .header__top {
        margin-bottom: 6rem;
    }

    .header__content {
        font-size: 3rem;
    }

    .header__arrow {
        margin-top: 8rem;
    }
}
    
.header__top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.header__top--responsive {
    order: 1;
}

.animate-slideInUp {
    animation: slideInUp 1.5s ease-out forwards;
    opacity: 1;
}

.hidden {
    opacity: 0;
}

#about {
    padding: 4rem 0;
    text-align: center;
}

#about img {
    border: 2px solid #333;
    border-radius: 50%;
    padding: 0.2rem;
    margin: 1rem 0;
}

#about .lead {
    font-size: 1.5rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

#about p {
    font-size: 1.4rem;
    color: #333;
}

#about p a {
    color: #333;
    text-decoration: underline;
    transition: all 0.3s;
}
                                                                /* UMIEJETNOSCI */
#skills {
    background: linear-gradient(45deg, #1a1a1a, #2c2c2c);
    padding: 1rem;
    text-align: center;
    color: #f3f3f3;
}

#skills h2 {
    color: #fff;
}

#skills .skill {
    margin-bottom: 2rem;
    margin: 1rem;
}

#skills .skill-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

#skills .skills__name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #f3f3f3;
    margin: 1rem;
}

#skills .skills__percent {
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
}

#skills .progress-container {
    flex-basis: 100%;
    font-size: 1.125rem;
    color: #f3f3f3;
    position: relative;
    background: linear-gradient(to right, #f0f0f0, #e0e0e0);
    border-radius: 20px;
    overflow: hidden;
    height: 1.125rem;
    width: 100%;
}

#skills .progress-container .progress-bar {
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 3px 3px -5px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 0;
    transition: width 1.5s cubic-bezier(0.1, 0.5, 0.1, 1);
}

#skills .progress-container .progress-bar.animate {
    width: var(--progress);
}

#html-skill .progress-bar {
    background: linear-gradient(90deg, #FF6B6B, #ff7253, #FFA94D);
}

#css-skill .progress-bar {
    background: linear-gradient(90deg, #4e6ec8, #83c0fa, #4e81c8);
}

#js-skill .progress-bar {
    background: linear-gradient(90deg, #FFD700, #ffea00, #ffc400);
}

#react-skill .progress-bar {
    background: linear-gradient(90deg, #00C9FF, #92FE9D, #00C9FF);
}

#angular-skill .progress-bar {
    background: linear-gradient(90deg, #FF416C, #FF4B2B, #FF416C);
}

#docker-skill .progress-bar {
    background: linear-gradient(90deg, #0DB7ED, #384D54, #0DB7ED);
}

#figma-skill .progress-bar {
    background: linear-gradient(90deg, #FF7262, #F24E1E, #FF7262);
}

.icon {
    font-size: 30px;
    margin-right: 8px;
    transition: color 0.3s;
}

.icon:hover {
    transform: scale(1.1);
    transition:  ease-out 0.3s;
}

#skills .progress-container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: rgba(255, 255, 255, 0.1);
    z-index: -1;
    filter: blur(5px);
    border-radius: 20px;
}

.skill-button {
    display: inline-flex;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 0.1px 5px;
    margin-left: 10px;
    font-size: 0.7em;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.skill-button:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.skill-button .material-icons-outlined {
    font-size: 16px;
    margin-right: 4px;
}

.click-text {
    font-size: 0.9em;
}

.skills-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.scroll-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0 10px;
    color: #fff;
}

.skills-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.skills-container::-webkit-scrollbar {
    display: none;
}

.skills-page {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: start;
}

.skill {
    width: calc(100% - 40px);
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000;
    color: white;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

.javascript-label {
    display: inline;
}
    
.javascript-label-short {
    display: none;
}
                                                                 /*PORTFOLIO*/
#portfolio {
    padding: 2.5rem 0;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 1) 100%);
}

#portfolio h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.portfolio__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 250px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-front {
    background-color: #fff;
    color: black;
    z-index: 2;
}

.flip-card-front figure {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.flip-card-front img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.flip-card-front:hover img {
    transform: scale(1.1);
}

.flip-card-back {
    background-color: #232323;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.portfolio__projects figure {
    position: relative;
    overflow: hidden;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.specific-icon-link {
    text-decoration: none;
    display: inline-block;
    padding: 0.6rem;
    border-radius: 40px;
    width: 1.8rem;
    background-color: #f0f0f0;
    color: #222;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.3rem;
}

.specific-icon-link:hover {
    background-color: #141514;
    transform: scale(1.1);
    color: #fff;
}

.specific-icon-link:hover i.fa {
    color: #fff;
}

                                                             /*PORTFOLIO*/
#contact {
    display: grid;
    place-content: center;
    padding: 1rem 0;
    background-color: #76dafb;
    text-align: center;
    color: #232323;
}

#contact .lead {
    margin-bottom: -0.25rem;
    font-size: 1.85rem;
    font-weight: 700;
}

#contact p {
    font-size: 1.65rem;
    font-weight: 300;
}

#contact .btn {
    margin-top: 2.0rem;
    border: 2px solid #232323;
    color: #232323;
    font-size: 1.3rem;
    font-weight: 500;
}

#contact .btn:hover {
    background-color: #232323;
    color: #76dafb;
}

#contact .contact__social {
    margin-top: 3rem;
    font-size: 3rem;
}

#contact .contact__social a {
    color: #232323;
    margin: 0 0.5rem;
    transition: all 0.3s;
}

#contact .contact__social a:hover {
    color: #fff;
}

 @keyframes fadeIn {
     from {
         opacity: 0;
         transform: translateY(20px);
     }

     to {
         opacity: 1;
         transform: translateY(0);
     }
 }

 .text-animate {
     opacity: 0;
 }

 .text-animate.animated {
     animation: fadeIn 2s forwards;
 }

footer {
    height: 50px;
    padding: 0.5rem 0;
    background-color: #232323;
    text-align: center;
    color: #fff;
}

@media (max-width: 440px){
    #about p{
        font-size: 1.2rem;
        padding: 0rem 1rem;
    }
    #contact p{
        padding: 0rem 1rem;
    }
    #contact .btn {
        padding: 1rem;
    }
    .header__content .btn {
        padding: 0.5rem 1rem;
    }
    .header__content {
        padding: 15px;
        margin-top: 15%;
    }
    .language-switch{
        right: 1.5rem;
    }
    .menu_hamburger{
        left: 2.0rem;
    }
    .fa-bars{
        background-color: #222;
        padding: 0.5rem 0.5rem;
        border-radius: 7px;
        font-size: 2rem;
        top: 30px;
        transition: all 0.3s ease;
    }
    .fa-bars:hover{
        color: #fff;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
        transform: scale(1.05);
    }
    .menu-responsive.show{
        font-size: 1rem;
    }
    .javascript-label {
        display: none;
    }
    
    .javascript-label-short {
        display: inline;
    }
}

@media (min-width: 700px) and (max-width: 900px) {
    #about p{
        font-size: 1.5rem;
        padding: 0.5rem 3.5rem;
    }
}

@media (min-width: 47.9em) {
    #contact .lead {
        font-size: 2.05rem;
    }

    #contact p {
        font-size: 1.85rem;
    }
    .btn{
        padding: 1rem;
    }
}

@media (min-width: 61.9em) {
    #contact .lead {
        font-size: 2.25rem;
    }

    #contact p {
        font-size: 2.05rem;
    }
}

@media (min-width: 74.9em) {
    #contact .lead {
        font-size: 2.45rem;
    }

    #contact p {
        font-size: 2.25rem;
    }
}


        