# Ignoruj pliki i katalogi generowane automatycznie
/build
/dist
/coverage

# Ignoruj pliki zależności
/node_modules

*.html
# Ignoruj pliki konfiguracyjne (dostosuj według potrzeb)
 *.config.js

# Ignoruj pliki package.json (opcjonalnie)
 package.json
 package-lock.json

# Ignoruj pliki, które mogą wymagać specyficznego formatowania
 *.md

# Ignoruj pliki binarne
*.png
*.jpg
*.gif
*.svg

# Ignoruj pliki związane z systemem kontroli wersji
.gitignore
.gitattributes
