@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&family=Lato:wght@300;400;700&family=Poppins:wght@300;400;500;600&family=Roboto+Condensed:wght@300;400&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(46, 102, 170, 0.3) 60%, hsla(0, 0%, 100%, 0.4) 140%);
    padding: 20px 0px;
    animation: fadeInBody 1s ease-in forwards;
}
@keyframes fadeInBody {
    0% {
        opacity: 0;
        transform: translateY(20px);

    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.language-switch {
    display: none;
}

.wrapper {
    width: 30%;
    min-width: 450px;
    max-width: 600px;
    background-image: linear-gradient(to right, rgb(250, 251, 252) 60%, hsla(0, 0%, 100%, 0.95) 140%);
    box-shadow: 0 0 10px #000;
    border-radius: 3px;
    margin: 20px 0;
}

.form-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-switch button {
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #222;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: color 0.3s, background-color 0.3s;
    margin: 0 10px;
    margin-bottom: -25px;
}

.form-switch button:hover {
    color: #fff;
    background-image: linear-gradient(120deg, hsla(218, 83%, 52%, 0.82) 50%, hsla(0, 0%, 0%, 0.95) 300%);
}

.form-switch button.active {
    color: #fff;
    background-image: linear-gradient(120deg, hsla(218, 83%, 52%, 0.82) 50%, hsla(0, 0%, 0%, 0.95) 300%);
    cursor: default;
}

form {
    padding: 5px 30px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    color: #222;
}

.form-box {
    position: relative;
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
}

.form-box label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.form-box.error {
    margin-bottom: 40px;
}

.form-box.error input {
    border: 1px solid rgba(65, 105, 225, 0.85);
    background-color: rgba(65, 105, 225, 0.1);
}

.error-text {
    color: rgba(65, 105, 225, 0.85);
    font-size: 12px;
    position: absolute;
    bottom: -20px;
    left: 0;
    visibility: hidden;
}

.form-box.error .error-text {
    visibility: visible;
}

.control-buttons {
    justify-content: flex-end;
    display: flex;
}

.login-send,
.send,
.clear,
.close {
    display: block;
    padding: 10px 0;
    margin-left: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    width: 100px;
    background-image: linear-gradient(120deg, hsla(218, 83%, 52%, 0.82) 80%, hsla(0, 0%, 0%, 0.95) 300%);
    color: #fff;
    border: 1px solid rgba(212, 212, 212, 0.8);
    border-radius: 5px;
    cursor: pointer;
    transition: width .3s ease-in-out, background-color .3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.login-send:hover,
.send:hover,
.clear:hover,
.close:hover {
    width: 120px;
    background-image: linear-gradient(to right, rgba(25, 25, 26, 0.95) 90%, hsla(0, 0%, 100%, 0.95) 200%);
    color: #fff;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 600px;
    background-color: whitesmoke;
    border-radius: 8px;
    border: 2px solid black;
    top: -300px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top .5s;
}

.popup p {
    font-size: 24px;
}

.popup .close {
    margin-top: 20px;
}

.show-popup {
    top: 150px;
    padding: 20px 20px;
}

.oauth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: -15px;
}

.oauth-buttons button,
.oauth-buttons .custom-google-signin {
    width: 100%;
    max-width: 300px;
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.oauth-buttons button.facebook-login {
    background-image: linear-gradient(to right, #2b5ac0, #354870);
    color: white;
}

.oauth-buttons button.facebook-login:hover {
    background-color: #2d4373;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.oauth-buttons .custom-google-signin {
    background-image: linear-gradient(to right, #cb4432, #bc3c25);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oauth-buttons .custom-google-signin:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icon {
    margin-right: 10px;
}

footer {
    
    color: #222;
    padding: 10px 20px;
    text-align: center;
    margin-top: auto;
    border-radius: 3px;
}

@media (max-width: 900px) {
    .wrapper {
        width: 50%;
        min-width: 320px;
    }

    form {
        padding: 5px 20px;
        font-size: 18px;
    }

    .form-switch button {
        padding: 8px 15px;
        font-size: 14px;
    }

    .form-box input {
        font-size: 14px;
        padding: 8px;
    }

    .control-buttons .login-send,
    .control-buttons .send,
    .control-buttons .clear,
    .control-buttons .close {
        width: 90px;
        font-size: 12px;
    }

    .control-buttons .login-send:hover,
    .control-buttons .send:hover,
    .control-buttons .clear:hover,
    .control-buttons .close:hover {
        width: 100px;
    }

    .popup {
        width: 90%;
        max-width: 500px;
    }

    .popup p {
        font-size: 20px;
    }

    .oauth-buttons button,
    .oauth-buttons .custom-google-signin {
        max-width: 250px;
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 600px) {
    .wrapper {
        width: 85%;
        min-width: 280px;
        margin-top: 3.5rem;
    }

    form {
        padding: 5px 15px;
        font-size: 16px;
    }

    .form-switch button {
        padding: 6px 10px;
        font-size: 12px;
    }

    .form-box input {
        font-size: 12px;
        padding: 6px;
    }

    .control-buttons .login-send,
    .control-buttons .send,
    .control-buttons .clear,
    .control-buttons .close {
        width: 80px;
        font-size: 10px;
    }

    .control-buttons .login-send:hover,
    .control-buttons .send:hover,
    .control-buttons .clear:hover,
    .control-buttons .close:hover {
        width: 90px;
    }

    .popup {
        width: 90%;
        max-width: 400px;
    }

    .popup p {
        font-size: 18px;
    }

    .oauth-buttons button,
    .oauth-buttons .custom-google-signin {
        max-width: 200px;
        font-size: 12px;
        padding: 6px;
    }
}