        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

        :root {
            --primary-color: #4a90e2;
            --secondary-color: #f39c12;
            --background-color: #f0f4f8;
            --text-color: #333;
        }

        * {
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        body {
            background-color: var(--background-color);
            color: var(--text-color);
        }

        .custom-scrollbar::-webkit-scrollbar {
            width: 8px;
        }

        .custom-scrollbar::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 10px;
        }

        .custom-scrollbar::-webkit-scrollbar-thumb {
            background: var(--primary-color);
            border-radius: 10px;
        }

        .custom-scrollbar::-webkit-scrollbar-thumb:hover {
            background: #3a7bc8;
        }

        .btn-primary {
            background-color: var(--primary-color);
            color: white;
            transition: all 0.3s ease;
        }

        .btn-primary:hover {
            background-color: #3a7bc8;
            transform: translateY(-2px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .btn-secondary {
            background-color: var(--secondary-color);
            color: white;
            transition: all 0.3s ease;
        }

        .btn-secondary:hover {
            background-color: #e67e22;
            transform: translateY(-2px);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .shop-item {
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .shop-item:hover {
            background-color: hsla(0, 1%, 69%, 0.7);
        }

        .shop-item.active {
            background-color: var(--primary-color);
            color: white;
        }
        
        .fas{
            font-size: 18px;
        }